.floatingLabel {
  color: #6b7280;
  font-size: 1.25em;
  font-weight: 400;
}
.floatingLabel i {
  color: #0269b3;
}

.floating select {
  border: none !important;
  border-bottom: 0.0625em var(--input-border) solid !important;
  background-color: var(--bg-color) !important;
  color: var(--input-text-color) !important;
}
.floating > .floatingInput:-webkit-autofill ~ label,
.floating > .floatingSelect ~ label {
  transform: scale(0.64) translateY(-16%) translateX(55%) !important;
  -webkit-transform: scale(0.64) translateY(-16%) translateX(55%) !important;
  -moz-transform: scale(0.64) translateY(-16%) translateX(55%) !important;
  -ms-transform: scale(0.64) translateY(-16%) translateX(55%) !important;
  -o-transform: scale(0.64) translateY(-16%) translateX(55%) !important;
}
.floating:has(input[dir="rtl"]) > .floatingInput:-webkit-autofill ~ label,
.floating:has(input[dir="rtl"]) > .floatingSelect ~ label {
  transform: scale(0.64) translateY(-16%) translateX(0%) !important;
  -webkit-transform: scale(0.64) translateY(-16%) translateX(0%) !important;
  -moz-transform: scale(0.64) translateY(-16%) translateX(0%) !important;
  -ms-transform: scale(0.64) translateY(-16%) translateX(0%) !important;
  -o-transform: scale(0.64) translateY(-16%) translateX(0%) !important;
}
