.Projector {
  font-size: 16px;
}
.Projector h3 {
  font-size: 2.5em;
  font-weight: 700;
  color: var(--second-color);
  width: fit-content;
  margin: auto;
  padding-bottom: 12px;
  border-bottom: 3px solid #0269b3;
}
.lesson-lists {
  padding: 1.75em 1.25em;
  background-color: var(--profile-nav-bg-color);
  border-radius: 0.9375em;
  border: 1px solid rgba(107, 114, 128, 0.1);
  -webkit-border-radius: 0.9375em;
  -moz-border-radius: 0.9375em;
  -ms-border-radius: 0.9375em;
  -o-border-radius: 0.9375em;
}
.lesson-lists h4 {
  font-size: 1.5em;
  font-weight: 700;
  color: #0269b3;
}
.lesson-lists a {
  padding: 8px 8px 12px;
  border-bottom: 1px solid #0269b3;
  font-size: 1.25em;
  font-weight: 700;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.lesson-lists a:hover {
  border-radius: 0.3125em;
  background: rgba(107, 114, 128, 0.15);
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
}
.lesson-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 400px;
}
.lesson-thumbnail {
  object-fit: cover;
  width: 100%;
}
.lesson-card h5 {
  color: #0269b3;
  font-size: 1rem;
  font-weight: 700;
}
.video-container {
  height: 50vh;
  position: relative;
}
.video-container iframe {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
}
.video-container p {
  color: #0269b3;
  font-size: 1.5em;
  font-weight: 700;
}

@media (max-width: 991px) {
  .Projector {
    font-size: 14px;
  }
}
@media (max-width: 768px) {

  .lesson-lists {
    order: 2;
  }
  
}
@media (max-width: 425px) {
  .Projector {
    font-size: 10px;
  }
  .lesson-lists {
    order: 2;
  }
}
