.navbar {
  background-color: var(--nav-bg-color);
}
.list-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.list-links a {
  color: var(--nav-link-color);
  text-align: center;
  font-family: "Noto Kufi Arabic";
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 1 !important;
  padding-bottom: 0;
}
.list-links a.selected {
  color: #0269b3 !important;
  border-bottom: 2px solid #0269b3;
}
.list-links a:hover {
  color: #0269b3 !important;
}
@media (max-width: 991px) {
  .list-links ul {
    width: 100%;
  }
}
