/* Delete Bootstrap styles */
:global(.nav-link):focus-visible {
  box-shadow:var(--primary);
}
.navbar {
  background-color: var(--nav-bg-color);
}

.list-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.list-links a {
  color: var(--nav-link-color);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  width: fit-content;
  margin: auto;
  padding-bottom: 0;
}
.list-links a.selected {
  color: var(--primary) !important;
  border-bottom: 2px solid var(--primary);
}
.list-links a:hover {
  color: var(--primary) !important;
}
@media (max-width: 991px) {
  /* .navbarTop > div {
    flex-direction: column;
  }
  .navbarTop > div > p {
    text-align: center;
  } */
  .list-links ul {
    width: 100%;
  }
}
/*
.navbarTop {
  background-color: var(--primary);
}
.navbarTop {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}
.navbarTop a.login-register {
  color: #fff !important;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.navbarTop a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #0094ff;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}
.navbarTop a:hover::after {
  width: 100%;
}
.profile {
  margin: 0 15px;
}
.profile .icon {
  background-color: #f9f9f9;
  color: #0094ff;
  font-size: 1rem;
  font-weight: 700;
  width: 30px;
  height: 30px;
  margin: auto;
}
.profile .icon:hover {
  color: var(--primary);
}
.profile ul {
  display: none;
  background-color: var(--bg-color) !important;
}
.profile:hover ul {
  display: block;
}
.profile ul {
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 700%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.profile ul a {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px;
  display: block;
  color: var(--nav-link-color) !important;
  transition: color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -ms-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
}
.profile ul li:hover {
  background-color: #f1f1f1;
}
.profile ul li:hover a {
  color: var(--primary) !important;
}
.profile ul a.selected:active {
  color: var(--primary) !important;
  background-color: #f1f1f1 !important;
}

.navbarTop a {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  width: fit-content;
  margin: auto;
  color: #fff;
  padding-bottom: 0;
}
.navbarTop span {
  color: #0094ff !important;
}*/