
.card-img {
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
.card-img:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.card-container h5 {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--primary);
  margin: 10px 0;
}
