.Contact {
  width: 100%;
  overflow: hidden;
  font-size: 16px;
}
.ParentContainer {
  min-height: 50vh;
  background-color: var(--bg-color);
}
.ParentContainer h3 {
  color: var(--Contact-heading-color);
  text-align: center;
  font-family: "Noto Kufi Arabic";
  font-size: 2.25em;
  font-weight: 700;
}
.Contact textarea {
  border: none !important;
  border-bottom: 0.0625em var(--input-border) solid !important;
  background-color: var(--bg-color) !important;
  color: var(--input-text-color) !important;
}
.Contact .message label {
  color: #6b7280;
  font-size: 1.25em;
  font-weight: 400;
}
.Contact .message label i {
  color: #0269b3;
  margin: 0 0.5em;
}
.info {
  border-radius: 1.5625em;
  background: #0269b3;
  height: 30vh;
  -webkit-border-radius: 1.5625em;
  -moz-border-radius: 1.5625em;
  -ms-border-radius: 1.5625em;
  -o-border-radius: 1.5625em;
}

@media (max-width: 991px) {
  .Contact {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .Contact {
    font-size: 12px;
  }
}
