
.card img{
    max-height: 400px;
    object-fit: cover;
}
.card h5 {
  color: #0269b3;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}
.card-heading {
  background: #fff;
  transition: background-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
}
.card-heading:hover {
  background: #f1f1f1;
}
