.FloatingLabel {
  color: #6b7280;
  font-size: 1.25em;
  font-weight: 400;
}
.FloatingLabel i {
  color: #0269b3;
  margin: 0 0.5em;
}
.floating input {
  border: none !important;
  padding-bottom: 5px !important;
  border-bottom: 0.0625em var(--input-border) solid !important;
  background-color: var(--bg-color) !important;
  color: var(--input-text-color) !important;
}
.floating input[type="date"]::-webkit-calendar-picker-indicator {
  color: #0269b3; /* This will only apply in supported browsers */
  filter: invert(36%) sepia(79%) saturate(1645%) hue-rotate(189deg)
    brightness(88%) contrast(93%);
  cursor: pointer;
}

.floating input[type="date"]::-moz-calendar-picker-indicator {
  color: #0269b3; /* This will only apply in supported browsers */
  filter: invert(36%) sepia(79%) saturate(1645%) hue-rotate(189deg)
    brightness(88%) contrast(93%);
  cursor: pointer;
}
/* Arabic */
/*Auto fill*/
.floating > .floatingInput:-webkit-autofill ~ label ,
/* Focus */
.floating > .floatingInput:focus ~ label,
.floating > .floatingInput:not(:placeholder-shown) ~ label,
.floating > .floatingSelect ~ label {
  transform: scale(0.64) translateY(-16%) translateX(55%) !important;
  -webkit-transform: scale(0.64) translateY(-16%) translateX(55%) !important;
  -moz-transform: scale(0.64) translateY(-16%) translateX(55%) !important;
  -ms-transform: scale(0.64) translateY(-16%) translateX(55%) !important;
  -o-transform: scale(0.64) translateY(-16%) translateX(55%) !important;
}
/* English */
/*Auto fill*/
.floating:has(input[dir="rtl"]) > .floatingInput:-webkit-autofill ~ label,
/* Focus */
.floating:has(input[dir="rtl"]) > .floatingInput:focus ~ label,
.floating:has(input[dir="rtl"])> .floatingInput:not(:placeholder-shown)~ label,
.floating:has(input[dir="rtl"]) > .floatingSelect ~ label {
  transform: scale(0.64) translateY(-16%) translateX(0%) !important;
  -webkit-transform: scale(0.64) translateY(-16%) translateX(0%) !important;
  -moz-transform: scale(0.64) translateY(-16%) translateX(0%) !important;
  -ms-transform: scale(0.64) translateY(-16%) translateX(0%) !important;
  -o-transform: scale(0.64) translateY(-16%) translateX(0%) !important;
}
