.Heading1 {
  background: linear-gradient(90deg, #f3faff 0%, #c0daec 100%);
  min-height: 25vh;
}
.Heading1 h2 {
  color: #002e50;
  font-size: 3.5em;
  font-weight: 700;
}
.Heading1 img {
  position: absolute;
  width: 140px;
}

.Heading1 img:nth-child(1) {
  bottom: -23%;
  left: 20%;
}

.Heading1 img:nth-child(2) {
  width: 180px;
  bottom: -23%;
  right: 20%;
}
.Heading1 img:nth-child(3) {
  top: 0;
  right: 20%;
}
.Heading1 img.specialPositionForSomePages {
  top: 1%;
  left: 20%;
  right: auto;
}

@media (max-width: 1024px) {
  .Heading1 img {
    width: 100px;
  }

  .Heading1 img:nth-child(1) {
    bottom: -10%;
    left: 5%;
  }

  .Heading1 img:nth-child(2) {
    width: 120px;
    bottom: -10%;
    right: 5%;
  }
  .Heading1 img:nth-child(3) {
    top: 10%;
    right: 5%;
  }
  .Heading1 img.specialPositionForSomePages {
    top: 13%;
    left: 5%;
    right: auto;
  }
}
@media (max-width: 425px) {
  .Heading1 img {
    width: 80px;
  }

  .Heading1 img:nth-child(1) {
    bottom: -5%;
    left: 5%;
  }

  .Heading1 img:nth-child(2) {
    width: 100px;
    bottom: -5%;
    right: 5%;
  }
  .Heading1 img:nth-child(3) {
    top: 10%;
    right: 5%;
  }
  .Heading1 img.specialPositionForSomePages {
    top: 13%;
    left: 5%;
    right: auto;
  }
}
