.Contact {
  margin-top: 160px;
  min-height: calc(100vh - 160px);
  width: 100%;
  overflow: hidden;
}
.ParentContainer {
  min-height: 50vh;
  background-color: var(--bg-color);
}
.ParentContainer h3 {
  color: var(  --Contact-heading-color  );
  text-align: center;
  font-family: "Noto Kufi Arabic";
  font-size: 2.25rem;
  font-weight: 700;
}
.ParentContainer input {
  border: none;
  border-bottom: 0.0625rem rgba(107, 114, 128, 0.75) solid;
}
.ParentContainer label {
  color: #6b7280;
  font-size: 1.25rem;
  font-weight: 400;
}
.ParentContainer label i {
  color: #0269b3;
}
.info {
  border-radius: 1.5625rem;
  background: #0269b3;
  height: 30vh;
  -webkit-border-radius: 1.5625rem;
  -moz-border-radius: 1.5625rem;
  -ms-border-radius: 1.5625rem;
  -o-border-radius: 1.5625rem;
}
