.Profile {
  margin-top: 180px;
  min-height: calc(100vh - 180px);
  width: 100%;
  font-size: 16px;
}
.profile-links {
  padding: 1.75em 1.25em;
  background-color: var(--profile-nav-bg-color);
  border-radius: 0.9375em;
  border: 1px solid rgba(107, 114, 128, 0.1);
  -webkit-border-radius: 0.9375em;
  -moz-border-radius: 0.9375em;
  -ms-border-radius: 0.9375em;
  -o-border-radius: 0.9375em;
}
.profile-links li {
  list-style: none;
  padding: 8px 8px 12px;
  border-bottom: 1px solid #0269b3;
  font-size: 1.25em;
  font-weight: 700;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.profile-links a {
  color: #0269b3;
}
.profile-links li:hover {
  border-radius: 0.3125em;
  background: rgba(107, 114, 128, 0.15);
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
}
.profile-links li.selected {
  border-radius: 0.3125em;
  background: rgba(107, 114, 128, 0.15);
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -ms-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
}

.Profile form label {
  color: #6b7280;
  font-size: 1.25em;
  font-weight: 400;
}
.Profile form label i {
  color: #0269b3;
}
.Profile form button {
  width: fit-content;
}

@media (max-width: 991px) {
  .Profile {
    font-size: 14px;
    margin-top: 180px;
  }
}
@media (max-width: 425px) {
  .Profile {
    font-size: 10px;
  }
}
